jupyterlab==3.4.3
jupyterlab-git==0.37.1
ipykernel==6.15.1
notebook==6.4.12
jupyterlab-code-formatter==1.4.11

# Common
numpy==1.23.1
requests==2.28.1
black<=21.12b0
isort==5.10.1

# New age!
polars==0.13.51

# Kubeflow
elyra==3.10.0
kfp==1.8.12
kfp-server-api==1.8.2
