jupyterlab==3.4.7
jupyterlab-git==0.39.2
ipykernel==6.15.2
notebook==6.4.12
jupyterlab-code-formatter==1.5.3

# Common
numpy==1.23.3
requests==2.28.1
black<=21.12b0
isort==5.10.1

# New age!
polars==0.14.11

# Kubeflow
elyra==3.11.1
kfp==1.8.12
kfp-server-api==1.8.5
