jupyterlab==3.4.2
jupyterlab-git==0.37.1
ipykernel==6.13.1
notebook==6.4.11
jupyterlab-code-formatter==1.4.11

# Common
numpy==1.22.4
requests==2.27.1
black<=21.12b0
isort==5.10.1

# New age!
polars==0.13.40

# Kubeflow
elyra==3.8.1
kfp==1.8.12
kfp-server-api==1.8.1
