# https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile
bokeh==2.4.3
cython==0.29.30
dask==2022.6.1
dill==0.3.5.1
h5py==3.7.0
ipympl==0.9.1
ipywidgets==7.7.1
matplotlib==3.5.2
numba==0.55.2
numexpr==2.8.1
pandas==1.4.3
protobuf==4.21.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
statsmodels==0.13.2
sympy==1.10.1
