torch==1.11.0
torchvision==0.9.1+cpu
torchaudio==0.11.0

elyra==3.7.0
kfp==2.0.0
kfp-server-api==1.8.1

bokeh==2.4.2
cloudpickle==2.0.0
dill==0.3.4
ipympl==0.9.0
ipywidgets==7.7.0
matplotlib==3.5.1
pandas==1.4.2
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
xgboost==1.6.0
